# .NET
bin/
obj/
*.user
.vs/
.idea/

.DS_Store
game-assets/.DS_Store
game-assets/Black Market Cards.pdf
game-assets/Lemon Cards.pdf
game-assets/Lemonade Wars Rulebook.pdf
game-assets/Supporting Cards.pdf
game-assets/Title Cards.pdf
game-assets/csv/
